body{
    background-color: none;
    font-family: 'Noto Sans', sans-serif;
    color: #777777;
    background-image: url(./images/background-image.jpg);
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}


.container{
    width: 640px;
    background-image: linear-gradient(to bottom right, #f765b8,#9431ad,#65b5f7, #27fdf5);
    color: white;
    border-color: #d7fffe;
    border-style: outset;
    border-radius: 25px;
}
.about-card, .contact{
    margin: auto;
    width: 640px;
    margin-top: 200px;
}
/* Navbar */

.navbar, .navbar-custom{
    background-image: linear-gradient(to bottom right, #f765b8,#9431ad,#65b5f7, #27fdf5);
    border-bottom: 2px solid;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-brand{
    background-image: linear-gradient(to bottom right, #27fdf5,#65b5f7,#9431ad, #f765b8);
    border-width: 1.5px;
    height: 60px;
    font-family: 'Noto Sans', sans-serif;
    background-color:#27fdf5;
    border-color: #f765b8;
    text-align: center;
    padding: 10px;
    border-style: inset;
    border-radius: 10px;
}

#logo{
    color: #ffffff;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.nav-link {
    background-image: linear-gradient(to bottom right, #27fdf5,#65b5f7,#9431ad, #f765b8);
    background-color: #27fdf5;
    border-style: inset;
    border-width: 1.5px;
    border-radius: 10px;
    border-color: #f765b8;
    margin: 5px;
}

/* Headers */

.welcome{
    align-content: center;
}

h1,h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #27fdf5;
    font-weight: bold;
}

h3{
    font-family: 'Noto Sans', sans-serif;
    color: salmon;
    font-weight: bold;
}

h1,h2,h3,p{
    margin-bottom: 20px;
}

h3{
    position: relative;
}

/* Porfolio page */

/* .img-responsive{
    
} */

.img-title{
    position: absolute;
    background-color: #27fdf5;
    width: 100%;
}


.splash-card, .card-deck {
    margin: auto;
    margin-top: 100px;
}

/* Contact page */



/* Footer can't get it to center the text?*/

.footer-section{
    display: flex;
    position: fixed;
    bottom: 0;
    clear: both;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-top: 3px solid #27fdf5;
}
.card{
    border-radius: 20px;
}
.port-cards{
    border-radius: 20px 20px 0 0;
}
.card-footer{
    display: inline-block;
    justify-content: center;
    /* margin: auto; */
}
.btn-custom{
    background-color: #f765b8;
}
.portfolio-btn-link{
    color: #27fdf5;
    font-weight: 600;
}


@media only screen and (max-width: 640px){
    #logo{
        width: 100%;
        margin: 0px;
    }
    .splash-card, .about-card {
        margin: auto;
    }
}

